/* .App {
  text-align: center;
  color: hsl(0, 0%, 96%);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.test {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  width: 100vw;
  height: 100%;
}

.container {
  position: relative;
  text-align: center;
}

.main-image {
  width: 100%;
}

.header{
  position: absolute;
  bottom: 35%;
  right: 48%;
  font-size: 5rem;
  font-weight: 600;
}
